<head>
    <title>Movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center my-5">Movies</h1>
      <div class="row">
        <% for(let i=0; i < movies.length; i++) { %>
          <div class="col-md-4">
            <div class="card">
              <img src="<%= movies[i].Poster %>" class="card-img-top" alt="<%= movies[i].Title %>">
              <div class="card-body">
                <h5 class="card-title"><%= movies[i].Title %></h5>
                <p class="card-text">Year: <%= movies[i].Year %></p>
                <p class="card-text">Director: <%= movies[i].Director %></p>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>